<% if current_user.donating_to.blank? %>
 <div class="row">

      
       <p><%= form_for(current_user.active_donorships.build) do |f| %>
            <div><%= hidden_field_tag :donated_to_id, @user.id %></div>
            <%= f.submit "Support this organization with your purchases", class: "btn btn-primary" %>
          <% end %></p>
   
 </div>

<% end %>

<% if current_user.donating_to?(@user) %>
 <div class="row">

      
       <p><%= form_for(current_user.active_donorships.find_by(donated_to_id: @user.id),
             html: { method: :delete }) do |f| %>
            <%= f.submit "Remove your support and chose another organization", class: "btn btn-warning" %>
          <% end %></p>
   
 </div>

<% end %>

<div class="row">
  
    <div class="col-md-3">
      
  
  
      <h1><%= @user.name %> </h1>
      <p><%= image_tag @user.avatar.url(:medium) %></p>
      <h2><%= @user.designation %><h2>
        
      <% if @user.info.blank? && @user == current_user %>
  
        <%= link_to "Edit Your Profile", edit_user_registration_path(current_user), class: "btn btn-primary" %>

        <% else %>
        
            <p><b> Tags: </b><%= raw @user.all_tags %></p>
            <p><b> Address: </b><%= @user.street_address %></p>
            <p><%= @user.city %>, <%= @user.state %>, <%= @user.zip %></p>
            <p><b> Phone: </b><%= @user.phone %></p>
            <p><b> Website: </b><%= @user.website %></p>
            <p><b> More Info:</b></p>
            <p><%= @user.info %></p>
         <% end %>
    </div>
  

  
    <div class="col-md-9">
          
      <% if @user.designation == "Independent Vendor" %>
      
            <h2>Products for Sale</h2>
             <% @listings.each do |listing| %>
                <div class="col-md-6">
                  <div class="thumbnail">
                    <%= link_to image_tag(listing.image.url), listing %>
                    <div class="caption">
                      <h3><%= listing.name %></h3>
                      <p><%= number_to_currency(listing.price) %></p>
                      <p> <%= raw listing.all_tags %></p>
                    </div>
                  </div>
                </div>
              <% end %>
    
      
      <% elsif @user.designation == "Community Organization" %>
       
        <h2>Causes: </h2>
             <% @listings.each do |listing| %>
                <div class="col-md-6">
                  <div class="thumbnail">
                    <%= link_to image_tag(listing.image.url), listing %>
                    <div class="caption">
                      <h3><%= listing.name %></h3>
                      <p><%= number_to_currency(listing.price) %></p>
                      <p> <%= raw listing.all_tags %></p>
                    </div>
                  </div>
                </div>
              <% end %>
     
      <% else %>
      
           <h2>Local Businesses and Causes Supported: </h2>
             <% @orders.each do |order| %>
                <div class="col-md-6">
                  <div class="thumbnail">
                    <%= link_to image_tag(order.listing.image.url), order.listing %>
                    <div class="caption">
                      <h3><%= order.listing.name %></h3>
                      <p><%= number_to_currency(order.listing.price) %></p>
                      <p><%= link_to "from #{order.seller.name}", order.seller %></li><%=  %></p>
                      <p> <%= raw order.listing.all_tags %></p>
                    </div>
                  </div>
                </div>
              <% end %>
        
      <% end %>
      
      <% if @user == current_user %>
          <%= link_to 'New Listing', new_listing_path, class: "btn btn-primary", data: { no_turbolink: true } %>
      <% end %>
    
  </div>
</div>
